
@using MVCEcommerce.Models
@model List<Dto_Cart>
@{
    ViewBag.Title = "Cart";
    decimal price = 0;
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            @{ 
                if (TempData["QuantityError"] != ""&& @TempData["QuantityError"]!=null)
                {
            <div class="alert alert-danger">
                <strong>Error !</strong> @TempData["QuantityError"]
            </div>
                    }
                }
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                <tr>
                                    <td class="product-thumbnail">
                                        <img src="/images/@item.user.Images" alt="Image" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black">@item.user.Name</h2>
                                    </td>
                                    <td>$@item.user.Price</td>
                                    <td>
                                        <div class="input-group mb-3" style="max-width: 120px;">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-primary js-btn-minuss" type="button" onclick="if($('#qua_@item.user.ID').val()>=2)$('#qua_@item.user.ID').val($('#qua_@item.user.ID').val() - 1);window.location='@Url.Action("AddQCart/"+item.user.ID, "Home")?Quantity=' + $('#qua_@item.user.ID').val();">&minus;</button>
                                            </div>
                                            <input type="text" class="form-control text-center" id="qua_@item.user.ID" value="@item.Quantity" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"
                                            
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary js-btn-pluss" type="button" onclick="$('#qua_@item.user.ID').val( parseInt($('#qua_@item.user.ID').attr('value')) + 1);window.location='@Url.Action("AddQCart/"+item.user.ID, "Home")?Quantity=' + $('#qua_@item.user.ID').val();">&plus;</button>
                                            </div>
                                        </div>

                                    </td>
                                    <td>$@{ var sd = item.Quantity * item.user.Price; price += sd;}  @sd</td>
     
                                         <td><a href="@Url.Action("RemoveCart/"+item.user.ID, "Home")" class="btn btn-primary btn-sm">X</a></td>
                                </tr>
                            }
                            }



                        </tbody>
                    </table>
                </div>
            </form>                  
        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                   
                    <div class="col-md-6">
                        <button class="btn btn-outline-primary btn-sm btn-block" onclick="window.location='@Url.Action("Shop", "Home")'">Continue Shopping</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="text-black h4" for="coupon">Coupon</label>
                        <p>Enter your coupon code if you have one.</p>
                    </div>
                    <div class="col-md-8 mb-3 mb-md-0">
                        <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-sm">Apply Coupon</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <span class="text-black">Subtotal</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">$@price</strong>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">Total</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">$@price</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='@Url.Action("Checkout/", "Home")'">Proceed To Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>