@model IEnumerable<WebApplication7.Models.Category>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Category</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="container">
    <div class="row">
@foreach (var item in Model)
{
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top"  src="@Url.Content("~/Content/" + item.Image)">
                <div class="card-block">
                    <h5 class="text-bold text-center"> @item.Name</h5>
                    <div class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID},new { @Class = "btn btn-success" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @Class = "btn btn-primary" })
                        </div>
                </div>
            </div>
        </div>
}
    </div>
</div>
